div{
    border: 1px solid black;
    width: 300px;
    height: 300px;
}

div img{
    width:100%;
    height:100%;
}

.box img{
    transform: rotate(45deg);
    /* 태그를 회전 시켜준다. 값은 각도로 입력 45deg는 45도 회전 */
}

@keyframes ani {
    0%{
        /* 전체 동작중 0~50%까지의 내용 */
        transform: rotate(0);
            }
    50%{
        /* 전체 동작중에 50일때 */
        transform: rotate(90deg)

    }
    100%{
        /* 전체 동작하면서 50~100%까지 */
        transform: rotate(0);
    }
}


.box img{
    /* animation : keyframes의 이름 시간 변화 방법 */
    animation: ani 10s ease-in-out,border-radius 1s}

.box img{
    transition: transform 0.1s linear, border 1s ease-in-out, border-radius 1s ease-in-out;
}

.box:hover img{
    /* hover 마우스가 태그에 올려졌을때 */
    transform: rotate(720deg);
    border: 10px solid red;
    border-radius: 50%;
}